.p1 {
font-family: 'Open Sans Condensed', sans-serif;
}
.p2 {
font-family: 'Open Sans Condensed', sans-serif;
}
.p3 {
font-family: 'Open Sans Condensed', sans-serif;
}
.p4 {
font-family: 'Open Sans Condensed', sans-serif;
}
.p5 {
    font-family: 'League Script', cursive;
  }
